extends layout

block dashboard_header
  link(rel='stylesheet', href='/stylesheets/lib/icongrid.css')

block content
  h1= gettext(title)
  
  #dashboard
    a(href='/apps')
      = gettext('My Apps')
