extends layout

block dashboard_header
  link(rel='stylesheet', href='/stylesheets/lib/icongrid.css')

block content
  h1= gettext('Apps')
  
  #dashboard
    #help
      !{format(gettext('You have no apps installed. Apps are available in the <a %s>Marketplace</a>'), [' href="https://apps.mozillalabs.com/appdir/" target="_blank"'])}

block scripts
    if DEBUG
        script(src='/javascripts/lib/shipyard/scripts/require.js', data-main='/javascripts/apps')
    else
        script(src='/javascripts/apps-min.js')
