extends layout

block content
  h1.headline-main= title

  #dashboard.home
    if session.email
      = gettext('This is the persona.org homepage! Go to your ')
      a(href='/dashboard') dashboard
    else
      = gettext("Welcome to Persona.org! Pardon our dust...we're working on something awesome. Check back soon!")