extends layout

block content
  #dashboard.home
    if session.email
      .splash
        = gettext('This is the persona.org homepage! Go to your ')
        a(href='/dashboard') dashboard
    else
      .splash
        img(src='/images/badge.png')
        p= gettext("Coming soon!")